<form [formGroup]="rapportForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="titre" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Contenu</mat-label>
      <textarea matInput formControlName="contenu" required rows="4"></textarea>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!rapportForm.valid">
      Create Report
    </button>
  </form>